*{
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    width: 1000px;
    height:680px;
    border: 1px solid black;
}

.background{
    position: relative;
    width: 40%;
    border-right: 1px solid black;

}
.background img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    opacity: 0.45;
    background-color: black;
    margin-top: 230px;
     
} 

.logo>P{
    color:black;
}

.main-form{
    width: 60%;
    background-color:#ffff;

}

.main-form>div{
    padding-left: 25px;
}

form{
    display:flex;
    gap: 50px;
}

.info{
    height: 35%;
    border-bottom: 1px solid black;
    text-align: start;
    padding-top: 90px;
    padding-right: 140px;
}

.info>p{
    font-size: 16px;
}
.create-account{
    height: 35%;
    border-top: 1px solid black;
    padding-top: 26px;
}

.form{
    height: 30%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
} 

label, input{
    display:flex;
    flex-direction: column;
    
}

label{
    margin-bottom:10px;
}

input, button{
    border: 1px solid #E5E7EB;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color:rgb(88, 140, 10);
}

button{
    height:30px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    background-color:#596D48 ;
    color: white;
    font-size:12px;

}

button,p{
    font-weight: bold;
}

span{
    color: #596D48;
}